// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.header {
  color: darkgreen;
  text-decoration: underline;
    text-align: center;
}
div#welcome {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid blue;
  width: 40%;
  padding: 10px;
}


span.bold-blue {
  font-weight: bold;
  color: blue;
  text-decoration: underline;
}


  p#description {
    text-align: center;
    font-size: 14pt;
    color: green;
  }
